.navbar{
    background: linear-gradient(to right, #cf0d0d -100%, #cc5671);
    height: 4vw;
}

.navbar-brand{
    width: 18%;
}

.navbar-brand img{
    margin-left: 30px;
    width: 80%;
    height: 90%;
    margin-left: 30px;
}

.search{
    width: 40%;
    display: flex;
    justify-content: center;
    height: 65%;
}

.searchImput{
    width: 75%;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: 0;
}

.searchButton{
    width: 15%;
    margin-left: -15%;
    border: none;
    background-color: white;
    color: rgba(120, 115, 115, 0.649);
    border-radius: 5px;
}

.collapse.navbar-collapse{
    display: flex;
    justify-content: right;
    margin: 0 30px;
}

.navbar-nav.mr-auto a{
    margin: 0 5px;
}
