/*
Teste:
*/
.navbar-navmr-auto li{
    color: white;
}

.nav-item.active a{
    color: white;
}

.navbar-light .navbar-nav .nav-link a{
    color: white;
}

.titleMarcas{
    text-align: left;
    width: 100%;
}

.sectionMarcas{
    padding: 0 450px;
}


.conteudo-marcas{
    margin-top: 30px;
    width: 100%;
}


.cardsMarcas{
    margin: -15px auto;
    width: 100%;
}

.cardsMarcas{
    display: flex;
    justify-content: center;
}

.cards-marcas{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-marcas img{
    margin: 20px;
    width: 100px;
    border-radius: 115px;
    box-shadow: 0 0 5px rgb(201, 201, 201);
}