.sectionBanner{
    width: 100%;
}

#banner{
    display: flex;
    justify-content: center;
    width: 100%;
}

#banner img{
    margin: 40px;
    box-shadow: 0 0 15px rgb(201, 201, 201);
    width: 85%;
    height: 300px;
}
