
.sectionCategorias{
    width: 100%;
    padding: 0 450px;
}

.categorias{
    display: flex;
    justify-content: center;
}

.cardCategorias{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardCategorias img{
    display: flex;
    justify-content: center;
    height: 154px;
    box-shadow: 0 0 5px rgb(201, 201, 201);
}